.button-quantity {
    display: flex;
    gap: 1rem;


    &__content {
        display: flex;
        color: var(--dark-900);
        align-items: center;
        font-size: 1.4rem;
        gap: 1rem;

    }

    &__increment {
        background-color: transparent;
        border: none;
    }

    &__decrement {
        background-color: transparent;
        border: none;
    }

    &__include {
        background-color: var(--avocado-800);
        padding: 1rem;
        border: none;
        border-radius: 0.8rem;
        color: var(--light-50);
    }
}